@page
@model IBAS_menu.Pages.KontaktModel
@{
}

<html>
<head>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>

    <table>
        <tr>
            <th>Navn</th>
            <th>E-mail</th>
            <th>Telefon</th>
        </tr>
        <tr>
            <td>Karen</td>
            <td>Karen@hotmail.com</td>
            <td>39205026</td>
        </tr>
       
    </table>

</body>
</html>

